img {
    /*  To contain the image to the confines of the div  */
    max-width: 100%;
  }
  
  .img-gradient {
    max-width: 100%; 
    width: 800px;
    margin: auto;
  }
  
  .img-gradient::after {
    display: block;
    position: relative;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, #fff 100%);
    margin-top: -150px;
    height: 150px;
    width: 100%;
    content: '';
  }